@using Domain.Models
@model Table

<form asp-action="Create">
    @Html.ValidationMessageFor(model => model.RestaurantId)
    @Html.ValidationMessageFor(model => model.Number)
    @Html.ValidationMessageFor(model => model.Seats)
    @Html.ValidationMessageFor(model => model.Location)
    @Html.ValidationMessageFor(model => model.Status) 
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="RestaurantId"></label>
        <select asp-for="RestaurantId" asp-items="ViewBag.RestaurantId"></select>
        <span asp-validation-for="RestaurantId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Number"></label>
        <input asp-for="Number" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Seats"></label>
        <input asp-for="Seats" />
        <span asp-validation-for="Seats" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Status"></label>
        <input asp-for="Status" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
  
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
